doctype html
html(lang='en')
  head
    include includes/head

  body
    .container
        #menu
            #left-menu
                a#draw-point.pure-button
                    i.icon-map-marker
                a#draw-line.pure-button
                    i.icon-pencil
                a#draw-shape.pure-button
                    i.icon-sign-blank
            #top-menu
                a#critical.pure-button.selected CRITICAL
                a#overlay.pure-button OVERLAY
            #right-menu
                a#critical.pure-button
                    i.icon-plus
                br
                a#analyiser.pure-button
                    i.icon-minus
            #bottom-menu
                a#team.pure-button TEAM
                a#weather.pure-button WEATHER
                a#feed.pure-button FEED

        block content

    script(src='/components/jquery/jquery.min.js')
    script(src='/components/bootstrap/docs/assets/js/bootstrap.min.js')
    script(src='/components/leaflet/dist/leaflet.js')
    script(src='/components/leaflet-locatecontrol/src/L.Control.Locate.js')
    script(src='/components/underscore/underscore-min.js')
    script(src='/components/backbone/backbone-min.js')
    script(src='/js/primus.js')
    script(data-main='js/site' src='/components/requirejs/require.js')
    block scripts
